*{
    max-width: 100%;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Encode Sans Semi Condensed', sans-serif;
    font-weight: 400;
    overflow-x: hidden;

}
header{
    width: 100%;
    background-color: black;
    position: fixed;
    z-index: 1000;
}
.header-site{
    display: flex;
    justify-content: space-between;
    color: white;
    border-bottom: #575757 1px solid;
}
nav{
    align-items: center;
    height:100%;
}
nav ul {
    height:100%;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content:space-around;
    padding: 0;
}
nav ul li,.header-site-a {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    border-right: #575757 1px solid;
}
nav ul li a, .header-site-a {
    
    cursor: pointer;
    padding: 0px 30px;
    height: 76px;
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight:normal;
    display: flex;
    align-items: center;
    
}
nav ul li a:hover {

    color: #C5C5C5;
    border-radius: 4px;
}
.header-site-a {
    font-size: 30px;
    border: none;
    padding: 0 30px;
    font-family: 'Encode Sans Semi Condensed', sans-serif;
    font-weight: 400;
}


#home {
    position: relative;
}

#home img {
    width: 100%;
    height: 700pt;
    filter: grayscale(100%) brightness(70%);
    object-fit: cover;
    display: block;
}

.container {
    position: absolute;
    inset: 0; 
    z-index: 1;
    display: flex;
    align-items: flex-start;
    padding: 116px 0px 64px 30px;
    flex-direction: column;
    justify-content: space-between;
}   

.container h1 {
    font-size: 126px;
    color: #fff;
    font-weight: 600;
    width: 549px;
    font-family: 'Encode Sans Condensed', sans-serif;
    line-height: 90%;
    letter-spacing: -2px;
}

.container a {
    padding: 18px 26px;
    background-color: #D0FBF9;
    color: #000000;
    text-decoration: none;
    font-size: 13px;
    font-weight: 400;
    font-family: 'Encode Sans Expanded', sans-serif;
}

.container a:hover {
    background-color: #D900FF;
    color: #fff;
}